In [3]:
from sqlalchemy import create_engine 
import pandas as pd

In [4]:
DATABASE_TYPE="postgresql"
USERNAME="mutakabbir"
PASSWORD="lightning"
HOST="localhost"
PORT=5432
DATABASE_NAME="postgres"
DIVISION_ICS_DATASET_TABLE="ics_division_dataset"

In [5]:
engine = create_engine(f"{DATABASE_TYPE}://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DATABASE_NAME}")

In [6]:
query_drop_dataset_table = f"""DROP TABLE IF EXISTS {DIVISION_ICS_DATASET_TABLE};"""

query_add_pk_to_dataset_table = f"""ALTER TABLE {DIVISION_ICS_DATASET_TABLE} ADD PRIMARY KEY ("division_id", "record_date");"""

query_subdivision_list = f"""select distinct(ds.cid) from division_station ds"""

query_stations_in_subdivision = lambda division_id: f"""select distinct(ds."climate_ID") from division_station ds where ds.cid = {division_id}"""

In [7]:
query_extract_subdivision_dataset = lambda division_id, station_list: f"""
select 
	{division_id} as division_id,
	date_trunc('hour', date_trunc('day', dd."Year Month Day Hour (YYYYMMDDHH)")) as "record_date",
	avg(dd."Extraterrestrial irradiance / kJ/m2") as "extraterrestrial_irradiance",
	avg(
		case 
			when dd."Flag" = '9' then 0
			else dd."Global horizontal irradiance / kJ/m2"
		end
	) as "global_horizontal_irradiance",
	avg(
		case 
			when dd."Flag.1" = '9' then 0
			else dd."Direct normal irradiance / kJ/m2"
		end
	) as "direct_normal_irradience",
	avg(
		case 
			when "Flag.2" = '9' then 0
			else dd."Diffuse horizontal irradiance / kJ/m2"
		end
	) as "diffuse_horizontal_irradiance",
	avg(
		case 
			when dd."Flag.3" = '9' then 0
			else dd."Global horizontal illuminance / 100 lux" 
		end
	) / 10 "global_horizontal_illumination_klux", -- calculate /kluxas 
	avg(
		case 
			when dd."Flag.4" = '9' then 0 
			else dd."Direct normal illuminance / 100 lux" 
		end
	) / 10 as "direct_normal_illumination_klux", -- calculate /klux
	avg(
		case 
			when dd."Flag.5" = '9' then 0 
			else dd."Diffuse horizontal illuminance / 100 lux"
		end
	) / 10 as "diffuse_horizontal_illumination_klux", -- calculate /klux
	avg(
		case 
			when dd."Flag.6" = '9' then 0 
			else dd."Zenith luminance / 100 Cd/m2"
		end
	) as "zenith_illumination",
	avg(
		case 
			when dd."Flag.7" = '9' then 0 
			else dd."Minutes of sunshine / 0-60 minutes"
		end
	) as "sunlight_min",
	avg(
		case 
			when dd."Flag.8" = '9' then 0 
			when dd."Ceiling height / 10 m" = 7777 then 3000 -- 7777 represents no limit. hence put max value of 3,000 
			else dd."Ceiling height / 10 m" 
		end
	) * 10 as "ceiling_height_meters", -- multiply wwith 10 since it is represented per 10 m
	avg(
		case 
			when dd."Flag.9" = '9' then 0
			else substring(lpad(dd."Sky condition"::text, 4, '0'), 1, 1)::integer  -- extract layer 1
		end
	) as "sky_layer_1",
	avg(
		case 
			when dd."Flag.9" = '9' then 0
			else substring(lpad(dd."Sky condition"::text, 4, '0'), 2, 1)::integer -- extract layer 2
		end
	) as "sky_layer_2",
	avg(
		case 
			when dd."Flag.9" = '9' then 0
			else substring(lpad(dd."Sky condition"::text, 4, '0'), 3, 1)::integer -- extract layer 3
		end
	) as "sky_layer_3",
	avg(
		case 
			when dd."Flag.9" = '9' then 0
			else substring(lpad(dd."Sky condition"::text, 4, '0'), 4, 1)::integer -- extract layer 4
		end
	) as "sky_layer_4",
	avg(
		case 
			when dd."Flag.10" = '9' then 0
			else dd."Visibility / 100 m" 
		end
	) / 10 as "visibility_km",  -- convert to visibility / 1 km
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 1, 1)::integer
		end
	) as "weather_thunderstorm",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 2, 1)::integer
		end
	) as "weather_rain",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 3, 1)::integer
		end
	) as "weather_drizzle",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 4, 1)::integer
		end
	) as "weather_snow_1",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 5, 1)::integer
		end
	) as "weather_snow_2",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 6, 1)::integer
		end
	) as "weather_ice",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 7, 1)::integer
		end
	) as "weather_visibility_1",
	avg(
		case 
			when dd."Flag.11" = '9' then 0
			else substring(lpad(dd."Present Weather"::text, 8, '0'), 8, 1)::integer
		end
	) as "weather_visibility_2",
	avg(
		case 
			when dd."Flag.12" = '9' then 0
			else dd."Station pressure / 10 Pa"  
		end
	) / 100 as "pressure_kpa", -- convert to presure / kPa
	avg(
		case 
			when dd."Flag.13" = '9' then null
			else dd."Dry bulb temperature / 0.1 C"
		end
	) / 10 as "dry_bulb_temp_c", -- convert to / 1 C
	avg(
		case 
			when dd."Flag.14" = '9' then null
			else dd."Dew point temperature / 0.1 C"
		end
	) / 10 as "dew_point_temp_c", -- convert to / 1 C
	avg(
		case 
			when dd."Flag.15" = '9' then null
			else dd."Wind direction / 0-359 degrees"
		end
	) as "wind_direction_deg",
	avg(
		case 
			when dd."Flag.16" = '9' then null
			else dd."Wind speed / 0.1 m/s"
		end
	)  / 10 as "wind_speed_mps",
	avg(
		case 
			when dd."Flag.17" = '9' then null
			else dd."Total sky cover / 0-10 in tenths"
		end
	) as "sky_cover",
	avg(
		case 
			when dd."Flag.18" = '9' then null
			else dd."Opaque sky cover / 0-10 in tenths"
		end
	) as "sky_cover_opaque",
	avg(
		case 
			when dd."Flag.19" = '9' then 0
			else dd."Snow cover (0 = no snow cover 1 = snow cover)"
		end
	) as "snow"
from (
	select * 
	from 
		ics 
	where 
		ics."ECCC station identifier" in ('{"','".join(station_list)}') 
) as dd
group by record_date
"""

In [8]:
# add all the data to db

# drop table data if it exists
with engine.connect() as con:
    con.execute(query_drop_dataset_table)
# get division list
division_list = pd.read_sql(query_subdivision_list, con=engine)["cid"].values.tolist()

# add data for each division
for index, division_id in enumerate(division_list):
    print(f"Started subdivision ({index}): {division_id}")
    station_list = pd.read_sql(query_stations_in_subdivision(division_id), con=engine)["climate_ID"].values.tolist()
    print(f"\tstation list: {station_list}")
    division_dataset = pd.read_sql(
        query_extract_subdivision_dataset(
            division_id=division_id, 
            station_list=station_list
        ), 
        con=engine,
    )
    division_dataset.to_sql(name=DIVISION_ICS_DATASET_TABLE, con=engine, if_exists='append', index=False)
    del division_dataset
    print(f"\tfinished adding subdivision: {division_id}")
# add primary key for faster query
with engine.connect() as con:
    con.execute(query_add_pk_to_dataset_table)

Started subdivision (0): 51
	station list: ['3070600', '3072921', '3073140', '3074190', '3074935', '3076069']
	finished adding subdivision: 51
Started subdivision (1): 52
	station list: ['5010481', '5010547', '5012469', '5012654', '5013117', '501A7AR', '5022125', '5040689', '5043158', '504K80K']
	finished adding subdivision: 52
Started subdivision (2): 60
	station list: ['8202000', '8202592', '8206495']
	finished adding subdivision: 60
Started subdivision (3): 22
	station list: ['704607C', '706I155', '7061288', '7041166', '7060826', '7061541', '706I001', '7065639', '7063370', '7066686', '7064181']
	finished adding subdivision: 22
Started subdivision (4): 59
	station list: ['4028038', '4032322', '4028060', '4020286', '4024714', '4036844', '402DAF0', '4043901', '4038412', '4024919', '4031999']
	finished adding subdivision: 59
Started subdivision (5): 65
	station list: ['6114295', '6115529', '6117700', '6166415']
	finished adding subdivision: 65
Started subdivision (6): 44
	station list: ['4022359', '4055079', '4056241', '4018642', '4015322', '4055736', '407N51G', '4014156']
	finished adding subdivision: 44
Started subdivision (7): 11
	station list: ['6040325', '6041110', '6042717', '6046768']
	finished adding subdivision: 11
Started subdivision (8): 42
	station list: ['6104027', '6106001', '7033121']
	finished adding subdivision: 42
Started subdivision (9): 40
	station list: ['8100467', '8100505', '8100989']
	finished adding subdivision: 40
Started subdivision (10): 43
	station list: ['4045695', '4047240']
	finished adding subdivision: 43
Started subdivision (11): 9
	station list: ['8101505', '8101925', '8104901', '8104935']
	finished adding subdivision: 9
Started subdivision (12): 15
	station list: ['4046884', '4057152']
	finished adding subdivision: 15
Started subdivision (13): 48
	station list: ['7041JG6', '706Q001', '7056616', '7054096', '7015791', '7041312', '7060400', '7042395']
	finished adding subdivision: 48
Started subdivision (14): 26
	station list: ['504K0NM', '5020725', '5031042', '5040764', '5021220', '5021849', '50309J6', '5031041', '5020881', '502I001', '5023262', '5032951', '503B1ER', '5012324', '5023227', '5022759']
	finished adding subdivision: 26
Started subdivision (15): 57
	station list: ['701Q009', '7022579', '7024280', '7025442', '702CFGG']
	finished adding subdivision: 57
Started subdivision (16): 19
	station list: ['8200573', '8200574', '8202810', '8205092']
	finished adding subdivision: 19
Started subdivision (17): 61
	station list: ['301S001', '3011240', '3010730', '3024965', '301B460', '30221LG', '3024668', '3016124', '3025243', '3026479', '3013340', '3011815', '3013640', '3011887']
	finished adding subdivision: 61
Started subdivision (18): 30
	station list: ['7025251', '7014160', '702FHL8', '7024745', '7027039', '7025252', '7027329', '7034900', '702327X', '702FQLF', '702LED4']
	finished adding subdivision: 30
Started subdivision (19): 21
	station list: ['6068153']
	finished adding subdivision: 21
Started subdivision (20): 3
	station list: ['6119499', '6122847', '6144473', '6145504']
	finished adding subdivision: 3
Started subdivision (21): 17
	station list: ['4019075', '4083324']
	finished adding subdivision: 17
Started subdivision (22): 28
	station list: ['7051050', '7052601', '7053KGR', '7055422']
	finished adding subdivision: 28
Started subdivision (23): 37
	station list: ['7011983', '7016293', '701Q004', '7028754']
	finished adding subdivision: 37
Started subdivision (24): 5
	station list: ['1096439', '1182289', '1183001', '1184791', '1192946']
	finished adding subdivision: 5
Started subdivision (25): 56
	station list: ['8200827', '8202502', '8204154', '8204161', '8205701', '8205895']
	finished adding subdivision: 56
Started subdivision (26): 54
	station list: ['6085680', '7080468', '7086716', '7086719']
	finished adding subdivision: 54
Started subdivision (27): 29
	station list: ['6034076', '6010735', '6016525', '6037776', '6012199', '6032125', '6014353']
	finished adding subdivision: 29
Started subdivision (28): 4
	station list: ['3015676', '3010010', '3014665', '3010237', '3016GF0', '3016022', '3060406', '3012275', '3016655', '3013959', '3016802']
	finished adding subdivision: 4
Started subdivision (29): 34
	station list: ['1160H99', '1161661', '1163781']
	finished adding subdivision: 34
Started subdivision (30): 0
	station list: ['2100701', '2100518', '2100935', '2101201', '2100805', '2100693', '2100181', '2100LRP', '2101303', '2101102', '2100660', '2100301', '2100630']
	finished adding subdivision: 0
Started subdivision (31): 63
	station list: ['3054843', '3016860', '3053536', '306GE70', '3063135', '3062246', '3010816', '3015523']
	finished adding subdivision: 63
Started subdivision (32): 10
	station list: ['704C64L', '7040442', '7045401', '7047911', '704F0PN', '7046059', '7043019', '7056202', '7041382', '704S001', '7044328', '7117823', '7040815']
	finished adding subdivision: 10
Started subdivision (33): 35
	station list: ['8202251', '8203405', '8300301', '8300418', '8300562']
	finished adding subdivision: 35
Started subdivision (34): 45
	station list: ['1018611', '1086082', '1101300', '1100875', '1018621', '1014820', '1108395', '1108910', '1018FJ5', '1017254', '1018598', '1108824', '10476F0']
	finished adding subdivision: 45
Started subdivision (35): 6
	station list: ['7091299', '7094636', '7098603', '7103537', '710S005', '7113535']
	finished adding subdivision: 6
Started subdivision (36): 39
	station list: ['3012202', '3012216', '3014921', '301A001', '3023722', '3025297']
	finished adding subdivision: 39
Started subdivision (37): 36
	station list: ['6016295', '6072223', '6074211', '6075420', '6078286']
	finished adding subdivision: 36
Started subdivision (38): 31
	station list: ['6080192', '7034482']
	finished adding subdivision: 31
Started subdivision (39): 50
	station list: ['3036099', '3031640', '3030830', '3056214', '305MGFF', '3035198', '3051R4R', '3031092', '3031875']
	finished adding subdivision: 50
Started subdivision (40): 14
	station list: ['6158875', '616I001']
	finished adding subdivision: 14
Started subdivision (41): 66
	station list: ['3024925', '3025481', '3026KNQ', '3050519', '3050778']
	finished adding subdivision: 66
Started subdivision (42): 13
	station list: ['8400601', '8401000', '8403505', '8403619', '8403851', '8404241']
	finished adding subdivision: 13
Started subdivision (43): 2
	station list: ['2403450', '2403625', '2300903', '2400305', '2400802', '2401203', '2302370', '2402596', '2403498', '2301002', '2400601', '2400650', '2300503', '2400660', '2301153', '2303685', '2303405', '2400565', '2402604', '2402354', '2403855', '2303094', '2403206', '230N002', '2400F63', '2301102', '2402351', '2403602', '2402684', '2400404', '2302340', '2401030', '2400570', '2400636', '2400697']
	finished adding subdivision: 2
Started subdivision (44): 16
	station list: ['2201450', '220L002', '2202201', '220B6Q3', '2202401', '2201799', '2202560', '220N005', '2202103', '2201579', '2201903', '2202663', '220N004', '220B68C', '220N003', '2201022', '2503886', '250M001', '2202801', '220LQJJ', '2202571', '2203342', '22010H0', '2202678', '2204300', '2503648', '2203095', '2203058', '2502505', '2203914', '2204101']
	finished adding subdivision: 16
Started subdivision (45): 62
	station list: ['1123939', '1128582', '112FN0M', '116FRMN']
	finished adding subdivision: 62
Started subdivision (46): 41
	station list: ['6020LPQ', '6048262', '6049095']
	finished adding subdivision: 41
Started subdivision (47): 46
	station list: ['8103201', '8203702', '8201390', '8300596', '830P001', '8204402', '8305500']
	finished adding subdivision: 46
Started subdivision (48): 32
	station list: ['4060983', '4064155', '4063757', '406QLD0', '4067799', '4067723', '4067655', '4063605', '406N0NM', '4063623', '4068559', '4061620']
	finished adding subdivision: 32
Started subdivision (49): 53
	station list: ['7050145', '7055121', '8100885', '8101303', '810I001']
	finished adding subdivision: 53
Started subdivision (50): 7
	station list: ['5061422', '5052881', '5061645', '5062921', '5031A10', '5061022', '5061375', '5030984', '5050919', '5060605', '5062840', '5062040', '5030203']
	finished adding subdivision: 7
Started subdivision (51): 38
	station list: ['6133362', '6139527', '613P001']
	finished adding subdivision: 38
Started subdivision (52): 12
	station list: ['7018001', '703GDKB', '7075800', '707DBD4']
	finished adding subdivision: 12
Started subdivision (53): 24
	station list: ['3033498', '3031480', '3031322', '3033890', '3034485', '3044533', '3044923', '3025768', '3030772', '3023402', '3032422', '3044232', '3030720', '3036205', '3033897', '3032550', '3036682', '3030768', '3030525', '3037675', '3035845', '3030QLP', '3035422', '3042045', '3032642']
	finished adding subdivision: 24
Started subdivision (54): 25
	station list: ['3061975', '3076680', '3075160', '3072723', '3060535', '3065995', '307KPFP', '3075488', '3057376', '3075041', '3063165', '3072525']
	finished adding subdivision: 25
Started subdivision (55): 49
	station list: ['6111792', '611B002', '611E001', '6158355', '6158359', '6158410']
	finished adding subdivision: 49
Started subdivision (56): 47
	station list: ['6057591', '6059413', '6073976', '6075543', '6092920']
	finished adding subdivision: 47
Started subdivision (57): 20
	station list: ['8501101', '8501131', '8501900', '8502592', '8504177']
	finished adding subdivision: 20
Started subdivision (58): 33
	station list: ['401HP5R', '4010879', '40190LN', '4013480', '40318MN', '4016566', '4012401']
	finished adding subdivision: 33
Started subdivision (59): 1
	station list: ['8402520', '8401502', '8403255', '8403097', '8402975', '8403801', '8400801', '8400301', '8404025', '8401298', '8404343', '8401703', '8401400']
	finished adding subdivision: 1
Started subdivision (60): 18
	station list: ['1086558', '1088015', '1096629', '1098941']
	finished adding subdivision: 18
Started subdivision (61): 64
	station list: ['1100031', '1100119', '1106178', '1113542', '1114619', '1114746']
	finished adding subdivision: 64
Started subdivision (62): 55
	station list: ['1157631', '114B1F0', '1125852', '1145M29', '1145297', '11790J1', '1176745', '1148705', '112G8L1', '1126146', '1152105']
	finished adding subdivision: 55
Started subdivision (63): 27
	station list: ['1066482', '1051351', '1077499', '1057052', '1056869', '1091174', '1068134', '119BLM0']
	finished adding subdivision: 27
Started subdivision (64): 23
	station list: ['6139148', '6153193', '6131983', '6158731', '6153301', '6142286', '6151061']
	finished adding subdivision: 23
Started subdivision (65): 58
	station list: ['3062697', '3063686', '3064528', '3065475', '3072655', '3081680']
	finished adding subdivision: 58
Started subdivision (66): 8
	station list: ['1020590', '1021830', '1022795', '1026271', '1037553']
	finished adding subdivision: 8